.app-checkbox {
  &.in-table-cell {
    // background: red;
    label {
      padding-left: 0;
      input {
        position: static;
      }
      span {
        top:3px;
      }
    }
  }
}
.btn.btn-flat {
  background: none;
  border: none;

  &:focus,
  &:active,
  &:hover {
    background: none !important;
    box-shadow: none;
  }

  &.btn-primary {
    color: @red-1;
  }
}
